<div class='jumbotron'>
    <h2>Adicionar música</h2>
    <div class='form-group'>
        <input type='text' class='form-control' placeholder='Nome' ng-model='musica'>
    </div>

    <div class='form-group'>
        <select class='form-control' ng-model='artista' ng-options='artista.nome for artista in artistas'>
            <option value=''>Artista</option>
        </select>
    </div>

    <div class='form-group'>
        <input type='text' class='form-control' placeholder='Album' ng-model='album'>
    </div>
    <div class='form-group'>
        <input type='text' class='form-control' placeholder='Ano de lançamento' ng-model='ano'>
    </div>
    <div class='form-group'>
        <input type='text' class='form-control' placeholder='Duração' ng-model='duracao'>
    </div>

    <div ng-show='showAlert' class="alert alert-{{alertType}}" role="alert">
      {{alertMsg}}
        <button type="button" class="close" aria-label="Close" ng-click='closeAlert()'>
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <a href='/#!/'><button type='submit' class='btn btn-danger'>Cancelar</button></a>
    <button type='submit' class='btn btn-success' ng-disabled='bloqAddButton' ng-click='addMusica()'>Confirmar</button>
</div>
