<div class='jumbotron'>
    <h2>{{artista.nome}}</h2>
    <img class='img-fluid' src='{{artista.url}}'>

    <hr>

    <div class='form-group'>
        <input type='checkbox' ng-model='favorito'>
        <span class="badge badge-warning">Favorito</span>
    </div>

    <hr>

    <h3>Nota do artista</h3>
    <div class='form-group'>
        <select class='form-control' ng-model='nota' ng-options='nota for nota in [1, 2, 3, 4, 5]'>
        </select>
    </div>

    <hr>

    <h3>Ultima música ouvida desse artista</h3>
    <div class='form-group'>
        <select class='form-control' ng-model='musica' ng-options='musica.nome for musica in musicas'>
        </select>
    </div>

    <hr>

    <h2>Albuns de "{{artista.nome}}"</h2>
    <div class='list-group'>
      <a href='/#!/artista/{{artista.nome}}/{{album.nome}}' class='list-group-item list-group-item-action' ng-repeat='album in artista.albuns'>{{album.nome}}</a>
    </div>
</div>
