<div class='jumbotron'>
    <h2>{{artista.nome}}</h2>
    <img class='img-fluid' src='{{artista.url}}'>

    <hr>

    <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
        <input type="checkbox" class="custom-control-input" ng-model='favorito'>
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description badge badge-warning">Artista Favorito</span>
    </label>

    <hr>

    <h3>Nota do artista</h3>
    <div class='form-group'>
        <select class='form-control' ng-model='nota' ng-options='nota for nota in [1, 2, 3, 4, 5]'>
        </select>
    </div>

    <hr>

    <h3>Ultima música ouvida desse artista</h3>
    <div class='form-group'>
        <select class='form-control' ng-model='musica' ng-options='musica.nome for musica in musicas'>
        </select>
    </div>

    <hr>

    <h2>Álbuns de "{{artista.nome}}"</h2>
    <div class='list-group'>
      <a href='/#!/artista/{{artista.nome}}/{{album.nome}}' class='list-group-item list-group-item-action' ng-repeat='album in artista.albuns'>{{album.nome}}</a>
    </div>
</div>
