<div class='jumbotron'>
    <div class='row'>
        <div class='btn col-md-6'>
            <a href='/#!/add_artist' class="btn btn-primary btn-block">Add Artista</a>
        </div>
        <div class='btn col-md-6'>
            <a href='/#!/list_artist' class="btn btn-primary btn-block">Artistas</a>
        </div>
    </div>

    <div class='row'>
        <div class='btn col-md-6'>
            <a href='/#!/add_musica' class="btn btn-primary btn-block">Add Musica</a>
        </div>
        <div class='btn col-md-6'>
            <a href='/#!/list_favoritos' class="btn btn-primary btn-block">Favoritos</a>
        </div>
    </div>

    <div class='row'>
        <div class='btn col-md-6'>
            <a href='/#!/add_playlist' class="btn btn-primary btn-block">Add Playlist</a>
        </div>
        <div class='btn col-md-6'>
            <a href='/#!/list_playlists' class="btn btn-primary btn-block">Playlists</a>
        </div>
    </div>
</div>
