<div class='jumbotron'>
    <div class='row'>
        <div class='btn col-md-6'>
            <a href='/#!/list_artist' class="btn btn-primary btn-block">Listar Artistas</a>
        </div>
        <div class='btn col-md-6'>
            <a href='/#!/add_artist' class="btn btn-primary btn-block">Adcionar Artista</a>
        </div>
    </div>

    <div class='row'>
        <div class='btn col-md-6'>
            <a href='/#!/' class="btn btn-primary btn-block">Listar Playlists</a>
        </div>
        <div class='btn col-md-6'>
            <a href='/#!/' class="btn btn-primary btn-block">Adcionar Playlists</a>
        </div>
    </div>
</div>
