<div class='jumbotron'>
    <h2>Músicas do album "{{album.nome}}"</h2>
    <hr>
    <div class='list-group'>
        <div ng-repeat='alb in album.musicas'>
            <div class='list-group-item'>
                <div class='list-group'>
                    <p class='list-group-item'>{{alb.nome}}</p>
                    <p class='text-muted'>nome</p>
                    <p class='list-group-item'>{{alb.ano}}</p>
                    <p class='text-muted'>ano</p>
                    <p class='list-group-item'>{{alb.duracao}}</p>
                    <p class='text-muted'>duração</p>
                </div>
            </div>
            <hr>
        </div>
    </div>
</div>
