<!doctype html>
<html ng-app='music-wizard'>
    <head>
        <title>Music Wizard</title>
        <meta charset='utf-8'>
        <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>

        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css'>
        <link rel='stylesheet' href='http://getbootstrap.com/docs/4.0/examples/narrow-jumbotron/narrow-jumbotron.css'/>

        <script src='https://code.angularjs.org/1.6.6/angular.min.js'></script>
        <script src='https://code.angularjs.org/1.6.6/angular-route.min.js'></script>

        <script src='js/config.js'></script>

        <script src='js/controllers/header.js'></script>
        <script src='js/controllers/add_artista.js'></script>
        <script src='js/controllers/add_musica.js'></script>
        <script src='js/controllers/add_playlist.js'></script>
        <script src='js/controllers/list_favoritos.js'></script>
        <script src='js/controllers/list_artistas.js'></script>
        <script src='js/controllers/list_musicas.js'></script>
        <script src='js/controllers/list_playlists.js'></script>
        <script src='js/controllers/playlist.js'></script>
        <script src='js/controllers/artista.js'></script>
        <script src='js/controllers/album.js'></script>

        <script src='js/services/musica.js'></script>
        <script src='js/services/album.js'></script>
        <script src='js/services/artista.js'></script>
        <script src='js/services/artistas.js'></script>
        <script src='js/services/playlist.js'></script>
        <script src='js/services/playlists.js'></script>
        <script src='js/services/usuario.js'></script>
    </head>

    <body style='background-color: #0c1219'>
        <div class='container'>
            <header class='header clearfix' ng-controller='header'>
                <nav>
                <ul class='nav nav-pills float-right'>
                  <li class="nav-item">
                    <a href='/#!/' class='nav-link {{home}}'>Home</a>
                  </li>
                  <li class="nav-item">
                    <a href='/#!/about' class='nav-link {{about}}'>About</a>
                  </li>
                  <li class='nav-item'>
                    <a href='/#!/' class='nav-link' data-toggle="modal" data-target="#userLoginModal">{{userButton}}</a>
                  </li>
                </ul>
                </nav>
                <h3 class='text-muted'>Music Wizard</h3>

                <div class="modal fade" id="userLoginModal" tabindex="-1" role="dialog" aria-labelledby="userLoginModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="userLoginModalLabel">Realize login</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" ng-hide='userLoginModalShowAlert' ng-model='loginEmail' placeholder="Email" aria-label="Email">
                                </div>
                                <div class="input-group mb-3">
                                    <input type="password" class="form-control" ng-hide='userLoginModalShowAlert' ng-model='loginSenha' placeholder="Senha" aria-label="Senha">
                                </div>
                                <div ng-show='userLoginModalShowAlert' class='alert alert-{{userLoginModalAlertType}}' role='alert'>
                                    {{userLoginModalAlertMsg}}
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" ng-hide='userLoginModalShowAlert' data-dismiss="modal" ng-click='clearTexts()'>Criar Conta</button>
                                <button type="button" class="btn btn-danger" ng-hide='userLoginModalShowAlert' data-dismiss="modal" ng-click='clearTexts()'>Cancelar</button>
                                <button type="button" class="btn btn-success" ng-hide='userLoginModalShowAlert' ng-disabled='!loginEmail || !loginSenha' ng-click='userButtonLogin()'>Confirmar</button>
                                <button type="button" class="btn btn-success" ng-show='userLoginModalShowAlert' data-dismiss="modal" ng-click='clearTexts()'>Ok</button>
                            </div>
                        </div>
                    </div>
                </div>
            </header>

            <div ng-view></div>

            <footer class='footer'>
                <p>&copy; Gabriel Fernandes 2017</p>
            </footer>
        </div>
    </body>
</html>
