<div class='jumbotron'>
    <h2>Adicionar artista</h2>
    <div class='form-group'>
        <input type='text' class='form-control' placeholder='Nome de Artista' ng-model='artistaNome'>
    </div>
    <div class='form-group'>
        <input type='text' class='form-control' placeholder='Insira url de imagem' ng-model='artistaImgUrl'>
    </div>
    <p class='text-muted'>*url opcional</p>

    <div ng-show='showAlert' class="alert alert-{{alertType}}" role="alert">
      {{alertMsg}}
        <button type="button" class="close" aria-label="Close" ng-click='closeAlert()'>
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <a href='/#!/'><button type='submit' class='btn btn-danger'>Cancelar</button></a>
    <button type='submit' class='btn btn-success' ng-disabled='!artistaNome' ng-click='addArtista()'>Confirmar</button>
</div>
