<div class='jumbotron'>
    <h2>{{artista.nome}}</h2>
    <img class='img-fluid' src='{{artista.url}}'>

    <hr>

    <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
        <input type="checkbox" class="custom-control-input" ng-model='favorito' ng-click='favoritar()'>
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description badge badge-warning">Artista Favorito</span>
    </label>

    <div class="modal fade" id="favoritoModal" tabindex="-1" role="dialog" aria-labelledby="favoritoModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="favoritoModalLabel">Deseja realmente desfavoritar o artista "{{artista.nome}}"?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click='desfavoritar()'>Sim</button>
                </div>
            </div>
        </div>
    </div>

    <hr>

    <h3>Nota do artista</h3>
    <div class='form-group'>
        <select class='form-control' ng-model='nota' ng-options='nota for nota in [1, 2, 3, 4, 5]'>
        </select>
    </div>

    <hr>

    <h3>Ultima música ouvida desse artista</h3>
    <div class='form-group'>
        <select class='form-control' ng-model='album' ng-options='album.nome for album in artista.albuns'>
        </select>
        <p class='text-muted'>album</p>
        <select class='form-control' ng-model='musica' ng-options='musica.nome for musica in album.musicas'>
        </select>
        <p class='text-muted'>musica</p>
    </div>

    <hr>

    <h2>Álbuns de "{{artista.nome}}"</h2>
    <div class='list-group'>
      <a href='/#!/artista/{{artista.nome}}/{{album.nome}}' class='list-group-item list-group-item-action' ng-repeat='album in artista.albuns'>{{album.nome}}</a>
    </div>
    <div ng-hide='artista.albuns.length' class='alert alert-primary'>
        Nenhum álbum desse artista cadastrado no sistema ainda
        <hr>
        <a href="/#!/add_musica">Adicione uma música</a>
    </div>
</div>
